:host {
  display: block;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.courses-control {
  display: flex;
  flex-direction: row;
  align-items: center;
  @media screen and (max-width: 768px){
    flex-direction: column;
  }
}
